*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----- Editor ----- */
body{
    display: flex;
}
aside{
    height: 100vh;
    background-color: #6C7DEA;
}
#elementos{
    width: 15vw;
}
#atributos{
    width: 22vw;
}
h1{
    text-align: center;
    color: white;
    background-color: #8a97ea;
    box-shadow: 0 0.5vw #ffffff10;
    padding: 0.5vw;
    font-size: 2vw;
}
article{
    width: 63vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#viewer{
    width: 63vw;
    height: 63vh;
    background-color: rgb(114, 114, 114);
}
#archives{
    width: 63vw;
    height: 37vh;
    order: 1;
}